####### requirements.txt #######

####################################################
# List of libraries that we use in the project
####################################################

####################################################
# Backend dependencies
####################################################
json
elasticsearch
nltk
tweepy
pickle
os

####################################################
# API dependencies
####################################################
flask
flask_restful
flask_cors
requests

####################################################
# Tests dependencies
####################################################
unittest

####################################################
# Frontend dependencies
####################################################
# TODO!
